.tile {
  object-fit: none;
  /* Improve mobile dragging */
  -webkit-touch-callout: none; /* prevent iOS callout */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* remove tap highlight */
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.selected {
  outline: 2px solid #00ff00;
  outline-offset: -2px;
  animation: pulseOutline 0.8s ease-in-out infinite;
}

@keyframes pulseOutline {
  0%,
  100% {
    outline-color: #00ff00;
  }
  50% {
    outline-color: magenta;
  }
}

.dragTarget {
  outline: 2px solid yellow;
  outline-offset: -2px;
  animation: pulseDragTarget 0.5s ease-in-out infinite;
}

@keyframes pulseDragTarget {
  0%,
  100% {
    outline-color: yellow;
  }
  50% {
    outline-color: orange;
  }
}
