<label
  for="mobile-menu-toggle"
  class="mobile-menu-toggle unified-button"
  role="button"
  aria-roledescription="Open and close the mobile menu"
  aria-label="Open and close the mobile menu"
  title="Open and close the mobile menu"
>
  <input type="checkbox" id="mobile-menu-toggle" />
  <span class="mobile-menu-toggle-icon closed">☰</span>
  <span class="mobile-menu-toggle-icon opened">✕</span>
</label>
