.button {
  display: inline-block;
  border: 1px solid;
  border-color: #ffffff #000000 #000000 #ffffff;
}

.button span {
  display: inline-block;
  padding: 2px 16px;
  border: 1px solid;
  border-color: #d9d9d9 #888888 #888888 #d9d9d9;
  background-color: #c0c0c0;
  color: #000000;
  font-family: "MS Sans Serif", sans-serif;
  font-size: 11px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}

.button span:hover {
  background-color: #d4d4d4;
}

.button span:active {
  background-color: #a0a0a0;
  border-color: #888888 #d9d9d9 #d9d9d9 #888888;
}

.button:has(span:active) {
  border-color: #000000 #ffffff #ffffff #000000;
}
